In [2]:
import pandas as pd
data = {
    "Aクラス" : [82, 89, 93, 85, 76],
    "Bクラス" : [100, 62, 82, 70, 86]
}
df = pd.DataFrame(data)
df

   Aクラス  Bクラス
0    82   100
1    89    62
2    93    82
3    85    70
4    76    86

In [3]:
print("Aクラス =", df["Aクラス"].mean())
print("Bクラス =", df["Bクラス"].mean())

Aクラス = 85.0
Bクラス = 80.0

In [4]:
print(df.mean())

Aクラス    85.0
Bクラス    80.0
dtype: float64

In [5]:
print(df.iloc[0]["Aクラス"])
print(df["Aクラス"].mean())

82
85.0

In [6]:
data = {
    "予想価格" : [240, 250, 150, 240, 300, 5000]
}
df = pd.DataFrame(data)
df

   予想価格
0   240
1   250
2   150
3   240
4   300
5  5000

In [7]:
print(df.mean())

予想価格    1030.0
dtype: float64

In [8]:
print(df.median())

予想価格    245.0
dtype: float64

In [9]:
print(df.mode())

   予想価格
0   240

In [11]:
df.drop(5)

   予想価格
0   240
1   250
2   150
3   240
4   300

In [13]:
df1 = df.drop(5)
print("平均:",df1.mean())
print("中央値:",df1.median())
print("最頻値:",df1.mode())

平均: 予想価格    236.0
dtype: float64
中央値: 予想価格    240.0
dtype: float64
最頻値:    予想価格
0   240

In [15]:
data = {
    "A案" : [1,10,1,10,1,10,1,10],
    "B案" : [5,5,5,5,6,6,6,6],
    "C案" : [1,2,3,4,7,8,9,10]
}
df = pd.DataFrame(data)
df

   A案  B案  C案
0   1   5   1
1  10   5   2
2   1   5   3
3  10   5   4
4   1   6   7
5  10   6   8
6   1   6   9
7  10   6  10

In [16]:
print(df.mean())
print(df.median())
print(df.mode())

A案    5.5
B案    5.5
C案    5.5
dtype: float64
A案    5.5
B案    5.5
C案    5.5
dtype: float64
     A案   B案  C案
0   1.0  5.0   1
1  10.0  6.0   2
2   NaN  NaN   3
3   NaN  NaN   4
4   NaN  NaN   7
5   NaN  NaN   8
6   NaN  NaN   9
7   NaN  NaN  10

In [17]:
bins=[1,3,5,7,9,11]
cut = pd.cut(df["A案"], bins=bins, right=False)
cut.value_counts(sort=False)

[1, 3)     4
[3, 5)     0
[5, 7)     0
[7, 9)     0
[9, 11)    4
Name: A案, dtype: int64

In [18]:
cut = pd.cut(df["B案"], bins=bins, right=False)
cut.value_counts(sort=False)

[1, 3)     0
[3, 5)     0
[5, 7)     8
[7, 9)     0
[9, 11)    0
Name: B案, dtype: int64

In [19]:
cut = pd.cut(df["C案"], bins=bins, right=False)
cut.value_counts(sort=False)

[1, 3)     2
[3, 5)     2
[5, 7)     0
[7, 9)     2
[9, 11)    2
Name: C案, dtype: int64